In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json"
data = pd.read_json(url)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   water_pay                    712 non-null    object
 1   respondent                   712 non-null    object
 2   research_asst_name           712 non-null    object
 3   water_used_season            712 non-null    object
 4   _bamboo_dataset_id           712 non-null    object
 5   _deleted_at                  0 non-null      datetime64[ns]
 6   water_point_condition        712 non-null    object
 7   _xform_id_string             712 non-null    object
 8   other_point_1km              712 non-null    object
 9   _attachments                 712 non-null    object
 10  communities_villages         712 non-null    object
 11  end                          712 non-null    object
 12  animal_number                528 non-null    object
 13  water_point_id               712 non-null    object
 14  start                        712 non-null    object
 15  water_connected              712 non-null    object
 16  water_manager_name           708 non-null    object
 17  _status                      712 non-null    object
 18  enum_id_1                    712 non-null    int64
 19  water_lift_mechanism         712 non-null    object
 20  districts_divisions          712 non-null    object
 21  _uuid                        712 non-null    object
 22  grid                         712 non-null    object
 23  date                         712 non-null    datetime64[ns]
 24  formhub/uuid                 712 non-null    object
 25  road_available               712 non-null    object
 26  water_functioning            712 non-null    object
 27  _submission_time             712 non-null    datetime64[ns]
 28  signal                       712 non-null    object
 29  water_source_type            712 non-null    object
 30  _geolocation                 712 non-null    object
 31  water_point_image            712 non-null    object
 32  water_point_geocode          709 non-null    object
 33  deviceid                     712 non-null    int64
 34  locations_wards              712 non-null    object
 35  water_manager                712 non-null    object
 36  water_developer              712 non-null    object
 37  _id                          712 non-null    int64
 38  animal_point                 712 non-null    object
 39  water_mechanism_plate        649 non-null    object
 40  water_lift_mechanism_type    649 non-null    object
 41  road_type                    334 non-null    object
 42  water_mechanism_plate_units  43 non-null     object
 43  water_mechanism_plate_no     43 non-null     float64
 44  water_not_functioning        87 non-null     object
 45  water_source_type_other      3 non-null      object
 46  simserial                    5 non-null      float64
 47  subscriberid                 5 non-null      float64
dtypes: datetime64[ns](3), float64(3), int64(3), object(39)
memory usage: 267.1+ KB

In [7]:
water_points = data[['communities_villages','water_functioning']]
water_points

    communities_villages water_functioning
0              Gumaryili               yes
1              Selinvoya               yes
2              Selinvoya               yes
3              Selinvoya               yes
4              Selinvoya               yes
..                   ...               ...
707                 Suik               yes
708              Vundema               yes
709              Vundema               yes
710             Jiniensa               yes
711                Jagsa               yes

[712 rows x 2 columns]

In [8]:
comm_by = water_points.groupby('communities_villages')
comm_by

In [43]:
comm_by.count().rank(axis=1).sort_values('water_functioning')
# communties_ranking = water_points[water_points['water_functioning']=='no'].rank(method='min')
# rank=communties_ranking.water_functioning
# rank

                      water_functioning
communities_villages
Abanyeri                            1.0
Kubore                              1.0
Kulbugu                             1.0
Kunkwah                             1.0
Kurugu                              1.0
...                                 ...
Kaasa                               1.0
Kalaasa                             1.0
Kanbangsa                           1.0
Kom                                 1.0
Zundem                              1.0

[65 rows x 1 columns]

In [50]:
number_functional = water_points[water_points['water_functioning'] == 'yes'].count()
# number_functional['water_functioning'].count()
functional=number_functional.water_functioning
functional

623

In [51]:
community_rank = water_points.sort_values('water_functioning')
community_rank

    communities_villages water_functioning
323              Nawaasa             na_dn
267                  Soo             na_dn
391                Guuta                no
114            Namgurima                no
304                  Zua                no
..                   ...               ...
279                  Zua               yes
280                  Zua               yes
281                  Zua               yes
206            Kpatarigu               yes
711                Jagsa               yes

[712 rows x 2 columns]

In [52]:
number_of_water_points = water_points['water_functioning'].count()
number_of_water_points

712

In [54]:
df ={
    'number_functional':functional,
    'number_water_points':{
        "communityA":rank
    },
    'community_ranking':community_rank
}